article img {
  display: block;
  margin: 0 auto 1em auto;
  width: 67%;
}

.small-image {
    max-width: 33% !important;
    float:right;
    margin: 0 0 0.5em 0.5em;
}

.smaller-image {
    max-width: 17% !important;
    float:right;
    margin: 0 0 0.5em 0.5em;
}

.fleet-list {
    width: 100%;
}

.fleet-list td {
    border-bottom: 1px dashed #888;
}

.fleet-list tr td:first-child {
    text-align: left;
}

.fleet-list tr td:last-child {
    text-align: right;
}

main div:first-child {
    margin-top: 0;
}

#home {
    display:none;
}

.admonition h2, .admonition h3 {
    margin-top: 0.5em;
}

figure > a img {
    box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.25);
}